.aw_blog{
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom:20px;
    .postWrapper{clear:both;padding-bottom:25px;padding-left: 10px;padding-right: 10px;}
    .postTitle{margin-bottom:15px;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#DDD}
    .postTitle h2{margin:0;padding:0;font-weight:400;font-size:20px;
        a{
          &:hover{
            color:#ab7505;
          }
        }
    }
    .postTitle h3{margin:0;padding-top:2px;padding-right:0;padding-bottom:2px;padding-left:0;font-size:10px}
    .postContent{padding-bottom:10px;word-wrap: break-word;}
    .postBookmarks{padding-bottom:10px}
    .postBookmarks h4{font-weight:700;font-size:12px}
    .commentWrapper{padding-bottom:15px}
    .commentContent{padding-bottom:0}
    .commentDetails{margin-bottom:5px;padding:0}
    .commentDetails h4.username{display:inline}
    .postError{font-size:16px}
    .tags{padding-bottom:10px;font-weight:700}
    .tags UL{display:inline}
    .tags UL LI{display:inline;padding-right:6px;font-weight:400}
    .tags h4{font-weight:700;font-size:12px}
    .menu-categories,.menu-recent,.menu-tags{margin:5px 9px}
    .menu-categories h5,.menu-recent h5,.menu-tags h5{font-size:11px}
    .block-blog .menu-tags UL LI{display:inline;margin-left:10px;padding:2px}
    .block-blog .menu-categories UL LI{margin-left:10px}
    .block-blog .menu-recent UL LI{margin-left:10px}
    .block-blog .menu-categories UL LI a,.block-blog .menu-recent UL LI a,.block-blog .menu-tags UL LI a{font-size:11px}
    .tag-count-1{font-size:1em!important}
    .tag-count-2{font-size:1.2em!important}
    .tag-count-3{font-size:1.4em!important}
    .tag-count-4{font-size:1.6em!important}
    .tag-count-5{font-size:1.8em!important}
    .tag-count-6{font-size:2em!important}
    .tag-count-7{font-size:2em!important}
    .tag-count-8{font-size:2em!important}
    .tag-count-9{font-size:2em!important}
    .tag-count-10{font-size:2em!important}
    .block-blog .head h4{padding-left:20px}
    .block-blog .block-title strong{padding-left:21px;background-image:url(../images/icon_blog.png);background-repeat:no-repeat;text-align:left}
    .postWrapper .poster{display:inline}
    .input-box.aw-blog-comment-area{width:100%}
    .widget-latest li{padding:5px 10px;font-size:12px}
    .block-blog .menu-categories{margin:0;padding:5px 9px}
    A.awblog_current_comment{text-decoration:none!important;font-weight:700!important}

    .pager{.amount,.limiter{margin-top:10px;}}
}