.page{


    .breadcrumbs{
        font-size: 12px;
        height: 30px;

        ul{
            position: relative;
            display: inline-block;
            float: left;
            height:30px;
            z-index:1;
            border-left: 1px solid #ccc;

            li{
                display: inline-block;
                float: left;
                position:relative;
                background: url(../images/commont/bread_bg_f.png) no-repeat center right;
                height: 30px;
                line-height: 30px;
                padding:0 15px;
                max-width: 600px;

                a{
                  display:inline-block;
                  max-width:250px;
                  text-overflow:ellipsis;
                  white-space:nowrap;
                  overflow:hidden;
                }

                &.last{
                    background: url(../images/commont/bread_bg_3.png) no-repeat center right;
                    color:#fff;
                }

                strong{
                    display: inline-block;
                    float: left;
                    background:#333333;
                    position:relative;
                    padding-left:30px;
                    height:30px;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    overflow:hidden;
                    width: 100%;
                }
            }

            .home{
                margin-left:0;
            }
        }

        .share{
            float:right;
            line-height: 30px;

            &>span{
                float: left;
            }

            .addthis_sharing_toolbox{
                float: right;
                height: 30px;
                overflow: hidden;
                padding: 2px 0 0 5px;
            }
        }
    }

    .category_name_top{
        font: normal 18px/31px Helvetica,Arial;
        border-bottom: 2px solid #666;
        height: 31px;

        .countdow{
            float: right;
            &>div>*{
                float: left;
            }
            span.PositionAbsolute{
                span{
                    display: inline-block;
                    width: 22px;
                    height: 19px;
                    background-image:url(../images/commont/countdown.gif);
                    background-repeat:no-repeat;
                    color:#fff;
                    font-size:15px;
                    line-height: 19px;
                    text-align: center;
                    margin-right: 1px;
                }
            }
        }
    }


    .currently{
        @include float_clear;
        padding:5px;

        h4{
            padding: 3px 5px 2px 0;
            font: normal 18px/18px Helvetica,Arial,Georgia,verdana,sans-serif;
            height: 18px;
            color: #666;
            float: left;
        }

        ol{
            li{
                display: inline-block;
                float: left;
                margin-right:5px;
                background:#424242;
                border-radius:3px;
                color:#fff;
                padding:3px 5px;

                span{
                    border-right:1px dotted #fff;
                    display: inline-block;
                    padding-right:5px;
                }

                .btn-remove{
                    display: inline-block;
                    height: 8px;
                    width: 14px;
                    background: url(../images/commont/btn_remove.png) center 0 no-repeat;
                }
            }
        }
    }

    .filter-nav{
        @include float_clear;
        border:1px solid #ddd;
        background:#fff;


        dl{
            border-bottom: 1px solid rgba(223,223,223,0.5);
            display: inline-block;
            float: left;
            width: 100%;

            &:last-child{
                border:0;
            }

            dt{
                min-width:15%;
                float: left;
                text-align: right;
                padding-right:15px;
                
                color: #333;
                text-transform: capitalize;
                white-space: nowrap;
                font-weight: bold;
                font-size: 12px;
                padding-top:5px;
            }

            dd{
                padding-left:15px;
                float: left;
                border-left:1px solid rgba(223,223,223,0.5);
                max-width:85%;
                ol{
                    li{
                        float: left;
                        line-height: 30px;
                        margin-right: 15px;
                        color: #999;

                        .m-selected-filter-item{
                            background:url(../images/commont/checked.png) no-repeat left;
                            padding-left:15px;
                            color:#333;

                        }

                        a{
                            background:url(../images/commont/no_checked.png) no-repeat left;
                            padding-left:15px;
                            color:#666;
                        }
                    }
                }
            }
        }    
    }


    .product_sort{
        display: block;
        height: 42px;
        border:1px solid #ddd;
        margin-top: 10px;
        background-color: #f7f7f7;
        background-image: linear-gradient(to bottom,#fff,#ececec);
        background-repeat: repeat-x;
        border-radius: 3px;
        overflow: hidden;
        border: 1px solid #b1b1b1;
        height: 42px;

        &>span{
            display: block;
            float: left;
            border-right: 1px solid #ddd;
            padding: 0 15px;
            text-transform: capitalize;
            height: 42px;
            line-height:42px;

            &:hover{
                background:#fff;
                color:#000;
            }
        }

        .on{
            background-color:#F39;
            color: #fff;
            font-weight: bold;
        }
    }

    .dress_list{
        .products-grid{
            width: 100%;
            background:none;
            border:0;
            li.item{
                padding:0;

                .item_deatil{
                    margin: 3px;
                    border: 2px solid #e9e9e9;
                    border-radius:3px;
                    &:hover{
                        border: 2px solid #f39;
                    }
                }
                
                .product-image{
                    width:100%;
                    padding-bottom:133.333%;
                    background-repeat:no-repeat;
                    background-position:center center;
                    background-size: 100%;
                    border-radius: 3px;
                    img{
                        display:none;
                    }
                }

                .product-name{
                    padding:0 10px !important;
                    line-height: 13px !important;
                    height: 26px;
                    overflow: hidden;
                    font-size: 11px !important;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    a{
                        color: #666;
                        font-weight: normal;
                        &:hover{
                            color:#f39;
                        }
                    }
                }
                .ratings{
                    padding:0 10px;
                }

                .price-box{
                    padding:0 10px;
                    .price-label{
                        display: none;
                    }
                    .old-price{
                        .price{
                            text-decoration: line-through;
                            font-size: 12px;
                            line-height: 12px;
                            height: 13px;
                            color: #999;
                            font-weight: normal;
                        } 
                    }
                    .special-price{
                        
                        .price{
                            font-size: 14px;
                            color: #f39;
                            line-height: 18px;
                            height: 18px;
                            display: inline-block;
                        }
                    }
                    .minimal-price-link{
                        .label,.price{
                            color:#f39;
                        }
                    }
                }
            }
        }
    }



    .pagination{
        
        ol{
            padding-top: 5px;
            height: 37px;font-size: 14px;text-align: center;

            li{
                display: inline-block;
                vertical-align: middle;

                a{
                    display: block;
                    border: 1px solid #b1b1b1;
                    height: 32px;
                    line-height: 32px;
                    padding: 0 12px;
                    border-radius: 3px;
                    vertical-align: top;
                    background-color: #f7f7f7;
                    background-image: linear-gradient(to bottom,#fff,#ececec);
                    background-repeat: repeat-x;
                }

                .previous a , .next a{
                    padding: 0 20px;
                }
            }

            .current{
                display: inline-block;
                height: 32px;
                line-height: 32px;
                padding: 0 12px;
                border: 1px solid #333;
                background-color: #333;
                background-image: linear-gradient(to bottom,#333,#333);
                background-repeat: repeat-x;
                border-radius: 3px;
                color: #fff;
                cursor: default;
            }
        }
    }

    .box_shadow{
        box-shadow: 0 0 30px #ccc;
        padding:10px;
        border-radius:5px;
        margin: 15px 0;

        .category_name_bottom{
            border-bottom: 1px solid #e4e4e4;
        }
    }

    .category_name_bottom{
        span{
            color: #4c5253;
            font-size: 17px;
            height: 25px;
            margin-top: 8px;
            font-weight: normal;
        }
    }

    .cur_category_description{
        color: #4c5253;
        font-size: 12px;
        line-height: 20px;
        max-height:100px;
        overflow: hidden;
        position:relative;
        margin-bottom: 5px;

        .see{
            position: absolute;
            right:0;
            bottom:0px;
            background-color:#fff;
            padding:0 10px;
            font-weight: bold;
        }
    }

    .user_photos{
        .photos_title{
            font-size: 12px;
            line-height: 30px;
            color: #555;
            padding-left:10px;
        }
    }


    .catalog_children{
        @include float_clear;

        li{
            width: 25%;
            display: inline-block;
            float: left;
            height: 22px;
            line-height: 22px;
            padding: 2px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }



    
}