
.help_left{
  float:left;
  width:16%;
  dl{
    color:#666;
    dt{
      font-size:15px;
      line-height:30px;
    }
    dd{
      font-size:12px;
      line-height:20px;
      a:hover{
        color:#f39;
      }
    }
  }
}
.help_left+.std,.help_left+.help_right{
  float:right;
  width:84%;
  img{
    max-width:100%;
  }
}


.twbox-help-shadow-s {
  float: left;
  position: relative;
  z-index: 0;
  margin: 0 0 16px 0;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid #e4e4e4;
  color: #555;
  min-height: 100px;
}

.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.twbox-help-shadow-s i.i, .twbox-help-shadow-s em.i {
  display: inline-block;
  position: absolute;
  width: 125px;
  height: 82px;
  background-image: url(/skin/frontend/pc/default/images/commont/help-s.gif);
  z-index: -1;
}

.twbox-help-shadow-s i.tl, .twbox-help-shadow-s em.tl {
  top: -10px;
  left: -6px;
  background-position: -250px 0;
}

.twbox-help-shadow-s i.tr, .twbox-help-shadow-s em.tr {
  top: -10px;
  right: -6px;
  background-position: -375px 0;
}
.twbox-help-shadow-s i.l, .twbox-help-shadow-s em.l {
  left: -6px;
  bottom: -10px;
  background-position: 0 0;
}
.twbox-help-shadow-s i.r, .twbox-help-shadow-s em.r {
  right: -6px;
  bottom: -10px;
  background-position: -125px 0;
}




.nation-container{
  clear:both;
  overflow:hidden;
}

.grid-1{
  display:inline;
  float:left;
  margin-bottom:8px;
  margin-left:8px;
  position:ralative;
}
.grid-container{
  float:left;
  width:100%;
  position:relative;
}

.nation-container li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.nation-container li{
  float:left;
  margin-bottom:15px;
  width:196px;
  height:22px;
  list-style:none outside none;
}

.nation-container li em{
  background:url(/skin/frontend/pc/default/images/commont/flags_adjusted.jpg) no-repeat 0 0;
  display:block;
  position:relative;
  width:28px;
  height:18px;
  float:left;
  clear:left;
  margin-right:10px;
  border:1px solid #ededed;
}

.nation-container ul{
  width:100%;
}

.grid-head h2{
  width:100%;height:45px;font-family:Georgia;font-size:16px;text-transform: uppercase;color: #1985a9;background: url(/skin/frontend/pc/default/images/commont/line.gif) no-repeat center 28px;text-align: center;font-weight:normal;
  margin:20px 0; letter-spacing:1px;
}
.grid-head h3{
  width:100%;height:45px;font-family:Georgia;font-size:14px;text-transform: uppercase;color: #1985a9;background: url(/skin/frontend/pc/default/images/commont/line_f.jpg) no-repeat center 28px;text-align: center;font-weight:normal;
  margin:20px 0; letter-spacing:1px;
}

.grid-wra{overflow:hidden;width:978px;}
li.AD em{ background-position: 0 0;  }
li.AE em{ background-position: 0 -19px;  }
li.AF em{ background-position: 0 -38px;  }
li.AG em{ background-position: 0 -57px;  }
li.AI em{ background-position: 0 -76px;  }
li.AL em{ background-position: 0 -95px;  }
li.AM em{ background-position: 0 -114px;  }
li.AN em{ background-position: 0 -133px;  }
li.AO em{ background-position: 0 -152px;  }
li.AR em{ background-position: 0 -171px;  }
li.AS em{ background-position: 0 -190px;  }
li.AT em{ background-position: 0 -209px;  }
li.AU em{ background-position: 0 -228px;  }
li.AW em{ background-position: 0 -247px;  }
li.AZ em{ background-position: 0 -266px;  }
li.BA em{ background-position: 0 -285px;  }
li.BB em{ background-position: 0 -304px;  }
li.BD em{ background-position: 0 -323px;  }
li.BE em{ background-position: 0 -342px;  }
li.BF em{ background-position: 0 -361px;  }
li.BG em{ background-position: 0 -380px;  }
li.BH em{ background-position: 0 -399px;  }
li.BI em{ background-position: 0 -418px;  }
li.BJ em{ background-position: 0 -437px;  }
li.BM em{ background-position: 0 -456px;  }
li.BN em{ background-position: 0 -475px;  }
li.BO em{ background-position: 0 -494px;  }
li.BR em{ background-position: 0 -513px;  }
li.BS em{ background-position: 0 -532px;  }
li.BT em{ background-position: 0 -551px;  }
li.BW em{ background-position: 0 -570px;  }
li.BY em{ background-position: 0 -589px;  }
li.BZ em{ background-position: 0 -608px;  }
li.CA em{ background-position: 0 -627px;  }
li.CC em{ background-position: 0 -646px;  }
li.CD em{ background-position: 0 -665px;  }
li.CF em{ background-position: 0 -684px;  }
li.CG em{ background-position: 0 -703px;  }
li.CH em{ background-position: 0 -722px;  }
li.CI em{ background-position: 0 -741px;  }
li.CK em{ background-position: 0 -760px;  }
li.CL em{ background-position: 0 -779px;  }
li.CM em{ background-position: 0 -798px;  }
li.CN em{ background-position: 0 -817px;  }
li.CO em{ background-position: 0 -836px;  }
li.CR em{ background-position: 0 -855px;  }
li.CU em{ background-position: 0 -874px;  }
li.CV em{ background-position: 0 -893px;  }
li.CX em{ background-position: 0 -912px;  }
li.CY em{ background-position: 0 -931px;  }
li.CZ em{ background-position: 0 -950px;  }
li.DE em{ background-position: 0 -969px;  }
li.DJ em{ background-position: 0 -988px;  }
li.DK em{ background-position: 0 -1007px;  }
li.DM em{ background-position: 0 -1026px;  }
li.DO em{ background-position: 0 -1045px;  }
li.DZ em{ background-position: 0 -1064px;  }
li.EC em{ background-position: 0 -1083px;  }
li.EE em{ background-position: 0 -1102px;  }
li.EG em{ background-position: 0 -1121px;  }
li.EH em{ background-position: 0 -1140px;  }
li.ER em{ background-position: 0 -1159px;  }
li.ES em{ background-position: 0 -1178px;  }
li.ET em{ background-position: 0 -1197px;  }
li.FI em{ background-position: 0 -1216px;  }
li.FJ em{ background-position: 0 -1235px;  }
li.FK em{ background-position: 0 -1254px;  }
li.FM em{ background-position: 0 -1273px;  }
li.FO em{ background-position: 0 -1292px;  }
li.FR em{ background-position: 0 -1311px;  }
li.GA em{ background-position: 0 -1330px;  }
li.GB em{ background-position: 0 -1349px;  }
li.GD em{ background-position: 0 -1368px;  }
li.GE em{ background-position: 0 -1387px;  }
li.GF em{ background-position: 0 -1406px;  }
li.GG em{ background-position: 0 -1425px;  }
li.GH em{ background-position: 0 -1444px;  }
li.GI em{ background-position: 0 -1463px;  }
li.GL em{ background-position: 0 -1482px;  }
li.GM em{ background-position: 0 -1501px;  }
li.GN em{ background-position: 0 -1520px;  }
li.GP em{ background-position: 0 -1539px;  }
li.GQ em{ background-position: 0 -1558px;  }
li.GR em{ background-position: 0 -1577px;  }
li.GT em{ background-position: 0 -1596px;  }
li.GU em{ background-position: 0 -1615px;  }
li.GW em{ background-position: 0 -1634px;  }
li.GY em{ background-position: 0 -1653px;  }
li.HK em{ background-position: 0 -1672px;  }
li.HN em{ background-position: 0 -1691px;  }
li.HR em{ background-position: 0 -1710px;  }
li.HT em{ background-position: 0 -1729px;  }
li.HU em{ background-position: 0 -1748px;  }
li.IC em{ background-position: 0 -1767px;  }
li.ID em{ background-position: 0 -1786px;  }
li.IE em{ background-position: 0 -1805px;  }
li.IL em{ background-position: 0 -1824px;  }
li.IN em{ background-position: 0 -1843px;  }
li.IO em{ background-position: 0 -1862px;  }
li.IQ em{ background-position: 0 -1881px;  }
li.IR em{ background-position: 0 -1900px;  }
li.IS em{ background-position: 0 -1919px;  }
li.IT em{ background-position: 0 -1938px;  }
li.JE em{ background-position: 0 -1957px;  }
li.JM em{ background-position: 0 -1976px;  }
li.JO em{ background-position: 0 -1995px;  }
li.JP em{ background-position: -29px 0;  }
li.KE em{ background-position: -29px -19px;  }
li.KG em{ background-position: -29px -38px;  }
li.KH em{ background-position: -29px -57px;  }
li.KI em{ background-position: -29px -76px;  }
li.KM em{ background-position: -29px -95px;  }
li.KN em{ background-position: -29px -114px;  }
li.KP em{ background-position: -29px -133px;  }
li.KR em{ background-position: -29px -152px;  }
li.KW em{ background-position: -29px -171px;  }
li.KY em{ background-position: -29px -190px;  }
li.KZ em{ background-position: -29px -209px;  }
li.LA em{ background-position: -29px -228px;  }
li.LB em{ background-position: -29px -247px;  }
li.LC em{ background-position: -29px -266px;  }
li.LI em{ background-position: -29px -285px;  }
li.LK em{ background-position: -29px -304px;  }
li.LR em{ background-position: -29px -323px;  }
li.LS em{ background-position: -29px -342px;  }
li.LT em{ background-position: -29px -361px;  }
li.LU em{ background-position: -29px -380px;  }
li.LV em{ background-position: -29px -399px;  }
li.LY em{ background-position: -29px -418px;  }
li.MA em{ background-position: -29px -437px;  }
li.MC em{ background-position: -29px -456px;  }
li.MD em{ background-position: -29px -475px;  }
li.ME em{ background-position: -29px -494px;  }
li.MF em{ background-position: -29px -513px;  }
li.MG em{ background-position: -29px -532px;  }
li.MH em{ background-position: -29px -551px;  }
li.MK em{ background-position: -29px -570px;  }
li.ML em{ background-position: -29px -589px;  }
li.MM em{ background-position: -29px -608px;  }
li.MN em{ background-position: -29px -627px;  }
li.MO em{ background-position: -29px -646px;  }
li.MP em{ background-position: -29px -665px;  }
li.MQ em{ background-position: -29px -684px;  }
li.MR em{ background-position: -29px -703px;  }
li.MS em{ background-position: -29px -722px;  }
li.MT em{ background-position: -29px -741px;  }
li.MU em{ background-position: -29px -760px;  }
li.MV em{ background-position: -29px -779px;  }
li.MW em{ background-position: -29px -798px;  }
li.MX em{ background-position: -29px -817px;  }
li.MY em{ background-position: -29px -836px;  }
li.MZ em{ background-position: -29px -855px;  }
li.NA em{ background-position: -29px -874px;  }
li.NC em{ background-position: -29px -893px;  }
li.NE em{ background-position: -29px -912px;  }
li.NF em{ background-position: -29px -931px;  }
li.NG em{ background-position: -29px -950px;  }
li.NI em{ background-position: -29px -969px;  }
li.NL em{ background-position: -29px -988px;  }
li.NO em{ background-position: -29px -1007px;  }
li.NP em{ background-position: -29px -1026px;  }
li.NR em{ background-position: -29px -1045px;  }
li.NU em{ background-position: -29px -1064px;  }
li.NZ em{ background-position: -29px -1083px;  }
li.OM em{ background-position: -29px -1102px;  }
li.PA em{ background-position: -29px -1121px;  }
li.PE em{ background-position: -29px -1140px;  }
li.PF em{ background-position: -29px -1159px;  }
li.PG em{ background-position: -29px -1178px;  }
li.PH em{ background-position: -29px -1197px;  }
li.PK em{ background-position: -29px -1216px;  }
li.PL em{ background-position: -29px -1235px;  }
li.PM em{ background-position: -29px -1254px;  }
li.PN em{ background-position: -29px -1273px;  }
li.PR em{ background-position: -29px -1292px;  }
li.PT em{ background-position: -29px -1311px;  }
li.PW em{ background-position: -29px -1330px;  }
li.PY em{ background-position: -29px -1349px;  }
li.QA em{ background-position: -29px -1368px;  }
li.RE em{ background-position: -29px -1387px;  }
li.RO em{ background-position: -29px -1406px;  }
li.RS em{ background-position: -29px -1425px;  }
li.RU em{ background-position: -29px -1444px;  }
li.RW em{ background-position: -29px -1463px;  }
li.SA em{ background-position: -29px -1482px;  }
li.SB em{ background-position: -29px -1501px;  }
li.SC em{ background-position: -29px -1520px;  }
li.SD em{ background-position: -29px -1539px;  }
li.SE em{ background-position: -29px -1558px;  }
li.SG em{ background-position: -29px -1577px;  }
li.SH em{ background-position: -29px -1596px;  }
li.SI em{ background-position: -29px -1615px;  }
li.SJ em{ background-position: -29px -1634px;  }
li.SK em{ background-position: -29px -1653px;  }
li.SL em{ background-position: -29px -1672px;  }
li.SM em{ background-position: -29px -1691px;  }
li.SN em{ background-position: -29px -1710px;  }
li.SO em{ background-position: -29px -1729px;  }
li.SR em{ background-position: -29px -1748px;  }
li.ST em{ background-position: -29px -1767px;  }
li.SV em{ background-position: -29px -1786px;  }
li.SY em{ background-position: -29px -1805px;  }
li.SZ em{ background-position: -29px -1824px;  }
li.TC em{ background-position: -29px -1843px;  }
li.TD em{ background-position: -29px -1862px;  }
li.TF em{ background-position: -29px -1881px;  }
li.TG em{ background-position: -29px -1900px;  }
li.TH em{ background-position: -29px -1919px;  }
li.TJ em{ background-position: -29px -1938px;  }
li.TK em{ background-position: -29px -1957px;  }
li.TM em{ background-position: -29px -1976px;  }
li.TN em{ background-position: -29px -1995px;  }
li.TO em{ background-position: -58px 0;  }
li.TP em{ background-position: -58px -19px;  }
li.TR em{ background-position: -58px -38px;  }
li.TT em{ background-position: -58px -57px;  }
li.TV em{ background-position: -58px -76px;  }
li.TW em{ background-position: -58px -95px;  }
li.TZ em{ background-position: -58px -114px;  }
li.UA em{ background-position: -58px -133px;  }
li.UG em{ background-position: -58px -152px;  }
li.US em{ background-position: -58px -171px;  }
li.UY em{ background-position: -58px -190px;  }
li.UZ em{ background-position: -58px -209px;  }
li.VA em{ background-position: -58px -228px;  }
li.VC em{ background-position: -58px -247px;  }
li.VE em{ background-position: -58px -266px;  }
li.VG em{ background-position: -58px -285px;  }
li.VI em{ background-position: -58px -304px;  }
li.VN em{ background-position: -58px -323px;  }
li.VU em{ background-position: -58px -342px;  }
li.WF em{ background-position: -58px -361px;  }
li.WS em{ background-position: -58px -380px;  }
li.XS em{ background-position: -58px -399px;  }
li.XY em{ background-position: -58px -418px;  }
li.YE em{ background-position: -58px -437px;  }
li.YT em{ background-position: -58px -456px;  }
li.ZA em{ background-position: -58px -475px;  }
li.ZM em{ background-position: -58px -494px;  }
li.ZW em{ background-position: -58px -513px;  }


.mainbox>dl {
  clear: both;
  position: relative;
  margin-bottom: 10px;
}
.mainbox h3 {
  font-size: 12px;
  background: url(../images/commont/dehua.png) no-repeat 0 center;
  padding-left: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  clear: both;
  margin-bottom: 10px;
}
.co_main {
  position: relative;
  height: 450px;
  background: url(../images/commont/weddngoc.jpg) no-repeat -10px 0;
}
.meatab .co_main {
  width: 465px;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
}
.co_main.co_wedding_back {
  background: url(../images/commont/weddinback.jpg) no-repeat 45px 0;
}
.posidiv {
  width: 165px;
  position: absolute;
}
.bust {
  top: 11px;
  left: 0;
}
.bwhh {
  color: #ce3c8b;
  display: block;
}
.waist {
  top: 123px;
  left: 0;
}
.hips {
  top: 222px;
  left: 0;
}
.hollow {
  top: 250px;
  left: 304px;
  width: 120px;
}
.bwshould {
  top: 13px;
  left: 0;
}
.bwarm {
  top: 153px;
  left: 0;
}
.bwarmleng {
  top: 123px;
  left: 360px;
}
#zzjs_nav5{ width:960px; margin:0 auto; overflow:hidden; border-bottom: none;}
.qh_tit{height: 52px;line-height: 62px;font-family: verdana;font-size: 14px;padding-left: 0;background: none; color:#000;}
.sdl{float: left;font-size: 12px;padding: 5px 0;min-height: 180px;}
.sdl dt img{float: left;border: none;padding-right: 10px;padding-bottom: 10px}
img{vertical-align: middle}
.sdl b{color:#000;}
.sdl dd p{color: #333333;line-height: 20px;font-size: 12px}

.dressul { border-bottom:1px dashed #D8D8D8;height: 30px; line-height: 30px;  margin-right: 20px; text-decoration: underline;}
.dressul li {float: left;font-size: 12px;line-height: 30px;list-style: none outside none;padding: 0 10px 0 0;text-transform: uppercase;}
.dressul li a {color: #000000; text-decoration: underline;}
.svp { color: #000000; font-size: 12px; line-height: 50px; width: 794px;}
.svp b {font-size: 21px; margin-right: 6px;}
.cdl dt { background: url("http://s.Beformal.com.au/images/loading_img.gif") no-repeat scroll 50% 40% transparent; font-size: 12px; height: 180px; line-height: 24px; margin-right: 20px; text-align: center; width: 180px;}
.cdl { width: 900px; margin-top:10px;}
.cdl dt, .cdl dd { float: left;}
.cdl dt img { border: 1px solid #DDDDDD; display: block; height: 157px; padding: 10px; width: 157px;}
#Satin_chiffon div, #Composite_Silk div, #Dchiffion div,#satin div, #chiffon div, #taffeta div, #organza div, #matte_satin div, #elastic_woven_satin div, #silk_like_satin div {background: none repeat scroll 0 0 #FFFFFF; cursor: pointer;  height: 36px;position: absolute; width: 36px;}
#Satin_chiffon, #Composite_Silk, #Dchiffion,#satin, #chiffon, #taffeta, #organza, #matte_satin, #elastic_woven_satin, #silk_like_satin {position: relative; margin:0;padding:0;}
.mainbox h3{font-size:12px;background:url(http://s.Beformal.com.au/images/dehua.png) no-repeat 0 center;padding-left:12px;font-weight:bold;font-family:Verdana, Geneva, sans-serif;clear:both;margin-bottom:10px}
.meatab .co_main{width:465px;float:left;margin-right:25px; margin-bottom:20px;}
.co_main{position:relative;height:450px;background:url(http://s.Beformal.com.au/images/weddngoc.jpg) no-repeat -10px 0;}
.co_main.co_wedding_back{background:url(http://s.Beformal.com.au/images/weddinback.jpg) no-repeat 45px 0;}
.mainbox>dl{clear:both;position:relative;margin-bottom:10px; }
.posidiv{width:165px;position:absolute}
.bust{top:11px;left:0}
.waist{top:123px;left:0}
.hips{top:222px;left:0}
.hollow{top:250px;left:304px;width:120px}
.should{top:15px;left:0}
.arm{top:108px;left:0}
.jbust{top:222px;left:0}
.jarm{top:233px;left:312px}
.bwshould{top:13px;left:0}
.bwarm{top:153px;left:0}
.bwarmleng{top:123px;left:360px}
.bwkuang{top:230px;left:330px;border:1px solid #dadada;padding:10px}
.bwhh{color:#ce3c8b;display:block}
.comain_form{width:338px;float:right;padding-top:20px;}
.formtit{width:156px;*width:154px;clear:both;float:left;text-align:right;margin-left:88px}
.form_select.inch_form{width:61px;height:26px;float:left;line-height:26px;padding-right:4px}
.inch_form .showul{top:22px;width:61px}
#selInc{width:68px}
