

.join_us{
    background-color: #d6d6d6;
    padding-bottom: 40px;

    h2{
        color: #000;
        font-size: 26px;
        font-style: italic;
        line-height: 26px;
        text-align: center;
        font-weight: normal;
        padding: 25px 0 30px;
        font-family: Georgia,Verdana,Arial,Helvetica,sans-serif;
    }

    ul{
        display: inline-block;
        width: 100%;
    }

    li{
        float: left;
        width: 12.5%;
        text-align: center;

        a{
            padding-left: 0;
            display: inline-block;
            text-decoration: none;
            border: 0;
            width: 60px;
            height: 60px;
            background-image: url(../images/home-footer.png);
            background-repeat: no-repeat;
        }

        &.mini-facebook a{
            background-position: -152px -557px;
        }

        &.mini-instagram a{
            background-position: -284px -427px;
        }

        &.mini-pinterest a{
            background-position: -377px -329px;
        }

        &.mini-youtube a{
            background-position: -707px -5px;
        }

        &.mini-twitter a{
            background-position: -577px -135px;
        }

        &.mini-tumbler a {
            background-position: -512px -200px;
        }

        &.mini-blog a{
            background-position: -52px -657px;
        }

        &.mini-vk a{
            background-position: -642px -70px;
        }
    }
}

.customer_help{
    background:#4d4c3a;
    display: inline-block;
    width:100%;
    font: 12px/21px helvetica,arial,sans-serif;
    color: #fff;
    padding: 30px 10px 0;
    margin: 0 auto 17px;
    text-align: left;

    dl{
        width: 20%;
        float: left;
        display: block;
    }

    dt{
        font-weight: bold;
        line-height: 14px;
        color: #fff;
        padding: 0;
        margin: 0;
        font-family: Helvetica,Arial,sans-serif;
        font-size: 14px;
        margin-bottom: 7px;
    }

    a{
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        font-family: Helvetica,Arial,sans-serif;
        img{margin-bottom:15px;}
    }
}

.payments{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;

    span , a{
        display: inline-block;
        margin-right: 5px;
        background-image: url(../images/footer_payments.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        height: 30px;
        margin-top: 21px;
    }
    .payssion_onecard{width:118.5px;height:30px;background:url(/skin/frontend/base/default/images/payssion/onecard.png) no-repeat;background-size:100%;}

    .banks{
        width: 222px;
        background-position: 0 0;
    }

    .paypal{
        width: 51px;
        background-position: -229px 0;  
    }

    .paypalVerified{
        margin-top: 10px;
        height: 44px;
        width: 44px;
        vertical-align: middle;
        background-position: 0 -153px;
    }

    .boleto-logo-footer {
        margin-top: 8px;
        width: 58px;
        background-position: -51px -163px;
        vertical-align: middle;
    }

    .westernUnion {
        width: 105px;
        background-position: 0 -60px;
    }

    .norton-logo {
        width: 77px;
        background-position: -106px -282px;
        vertical-align: middle;
        margin-top: 8px;
    }

    .delivery {
        width: 214px;
        background-position: 0 -30px;
    }
}

.copyright{
    text-align: center;
    padding: 20px 0;
    font: 14px/34px Helvetica,Arial,sans-serif;
    color: #333;
}

#gotopbtn{
    float: right;
    margin-right: -20px;

    a {
        background-image: url("../images/commont/back.png");
        background-repeat:no-repeat;
        background-color:#ab7505;
        background-position:center center;
        bottom: 200px;
        cursor: pointer;
        height: 52px;
        position: fixed;
        text-indent: -999em;
        width: 51px;
        right: 20px;
        z-index: 10000;
        border-radius:10px;
    }
}