$style_width:1366px;
$top_height:33px;
$header_content_height:112px;
$style_corlor :#ab7505;

.F39{color:$style_corlor;}
//@include float_clear;
@mixin float_clear {
  *zoom:1;
  &:after{
    display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;
  }
}