@import "_var.scss";

@import "_styles_default.scss";

.wrapper{
    position: relative;
}
.top_bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:#4c5154;
    width:100%;
    height:$top_height;
    z-index: -1;
}
.page{
    max-width: $style_width; 
    margin: 0 auto;

    
    border-left:1px solid #000;
    border-right:1px solid #000;
    box-sizing: content-box;
}

.MT10{margin-top:10px;}
.MB10{margin-bottom:10px;}

@import "_header.scss";
@import "_footer.scss";
@import "_home.scss";